body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #80deea;
}

.hidden {
    display: none !important;
}

.all {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -300px; //The negative values you have to divide the width and height
    box-shadow: 0 0 10px #00000070;
    border-radius: 4px;
    overflow-x: hidden;
    background-image: linear-gradient(to top, #fcc5e4 0%, #fcc5e4 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);

    .information {
        width: 100%;
        height: 100%;
        background-color: #000000d4;
        z-index: 999;
        position: absolute;

        .text {
             color: #fff;
             text-align: center;
             height: 100%;
             line-height: 400px; //the same height with class 'all'
             width: 100%;
             text-transform: uppercase;
        }
    }

    .sun {
        width: 56px;
        height: 56px;
        background: url(./images/sun.png);
        position: absolute;
        left: 60%;
        margin-left: -28px;
        top: 60%;
    }

    .road {
        width: 10000%;
        height: 72px;
        background: url(./images/road.png);
        background-repeat: repeat-x;
        position: absolute;
        bottom: 0;
    }

    .mountain {
        width: 10000%;
        height: 104px;
        background: url(./images/mountain.png);
        background-repeat: repeat-x;
        position: absolute;
        bottom: 72px;
        left: 50%;
        margin-left: -196px;
    }

    .car {
        width: 130px;
        height: 78px;
        background: url(./images/car.png);
        position: absolute;
        bottom: 25px;
        left: 18%;
        z-index: 10;
    }
}

//Animation

@keyframes road {
    100%{transform: translateX(-2950px);}
}

@keyframes suspension {
    100%{transform: translateY(-1px);}
    50%{transform: translateY(2px);}
    0%{transform: translateY(-1px);}
}

@keyframes mountain {
    100%{transform: translateX(-2950px);}    
}

.roading {
    animation: road 6s linear infinite;
}

.racing {
    animation: suspension 1s linear infinite;
}

.mountain-moving {
    animation: mountain 500s linear infinite;
}

.creatby {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 50px;
    color: #357e87;
    text-shadow: 1px 1px white, -1px -1px #444;
}